*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
}
img {
    height: 450px;
    border-radius: 8px;
}
body {
    background: rgba(24, 24, 24, 0.89);
    height: 100vh;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans';
    font-size: 20px;
    letter-spacing: 38px;
    height: 15vh;
    color: bisque;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
main h2{
    margin-top: 30px;
    color: rgb(225, 223, 223);
    font-size: 28px;
    letter-spacing: 8px;
}
main .grid-menu {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 26rem;
}
.grid-menu .card{
    transition: transform 0.8s;
}
.grid-menu .card:hover{ 
    transform: scale(1.15);
    transition: transform 0.5s;
}

/* 65vh   35vh */
.about{
    margin-top: 20vh;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    background: none;
    border: none;
    color: blanchedalmond;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(71, 70, 70);
    transition: all 0.7s ;
}
